<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
        <link href="styles/log-reg.css" rel="stylesheet" type="text/css" media="screen">
    </head>
    <body>
        <div>
            <form>
                <input type="email" placeholder="E-Mail" required>
                <input type="password" placeholder="Password" required>
                <button>Log In</button>
            </form>
        </div>
    </body>
</html>